body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto 0;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

header {
  width: 100%;
  background-color: #4267B2;
  box-shadow: 0px 20px 17px -1px rgba(0,0,0,0.57);
}

.head-content {
display: flex;
  align-items: center;
}
.head-content > h1 {
  font-style: italic;
  color: #fff;
}

.cv-content {
  padding: 40px;
}

.cv-article {
text-align: justify;
letter-spacing: 1px;
}

section > h2 {
  padding-bottom: 10px;
  font-style: italic;
  border-bottom: solid 1px #899696;
}

section > ul li {
  letter-spacing: 1px;
}

section a {
  text-decoration: none;
  word-spacing: 3px;
  color: #A30500;
}

section a:visited {
  color: #A30500;
}

.javascript-example {
  width: 480px;
  background-color: #303133;
  color: #7B84BB;
}
